In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv",encoding="utf-8")

In [15]:
df

,part,company,country,city,price,date
0,54868-5165,Chatterbridge,Spain,Barcelona,784.79€,2016-01-02 00:01:05
1,60505-2867,Lajo,Greece,Thessaloniki,187.99€,2016-01-02 00:05:26
2,24385-268,Flipstorm,Greece,Athens,221.73€,2016-01-02 00:18:30
3,76117-001,Twitterbeat,France,Annecy,1075.82€,2016-01-02 02:32:30
4,44946-1046,Chatterbridge,Spain,Barcelona,412.55€,2016-01-02 04:51:55
5,16729-167,Chatterbridge,Spain,Barcelona,359.52€,2016-01-02 07:20:59
6,52125-444,Voomm,France,Paris,266.62€,2016-01-02 07:40:37
7,43419-018,Buzzbean,Germany,Düsseldorf,103.45€,2016-01-02 08:57:57
8,54092-515,Zooxo,United Kingdom,London,£704.94,2016-01-02 09:09:01
9,24286-1562,Lajo,Greece,Thessaloniki,317.65€,2016-01-02 11:01:32
10,49035-530,Flipstorm,Greece,Athens,841.97€,2016-01-02 12:51:30
11,36987-1697,Brainsphere,Portugal,Braga,830.75€,2016-01-02 13:16:45
12,44946-1046,Flipstorm,France,Nanterre,406.4€,2016-01-02 16:34:14
13,51346-145,Flipstorm,Greece,Athens,978.51€,2016-01-02 17:45:54
14,51138-049,Flipstorm,France,Nanterre,504.69€,2016-01-02 17:46:50
15,0268-6107,Thoughtmix,Portugal,Amadora\t,477.71€,2016-01-02 18:52:45
16,51523-002,Flipstorm,Greece,Athens,1041.56€,2016-01-02 20:28:56
17,62670-4404,Wordify,United States,New York,$444.15,2016-01-02 21:10:19
18,49288-0285,Brainsphere,Portugal,Braga,598.52€,2016-01-02 22:18:14
19,68233-011,Chatterbridge,Spain,Barcelona,304.59€,2016-01-03 00:19:44
20,49349-471,Voomm,France,Paris,842.93€,2016-01-03 00:40:03
21,67544-356,Zooxo,United Kingdom,London,£602.37,2016-01-03 00:49:00
22,55700-014,Flipstorm,Greece,Athens,687.46€,2016-01-03 02:33:24
23,98132-889,Buzzbean,Germany,Düsseldorf,272.06€,2016-01-03 06:16:54
24,17156-617,Flipstorm,Greece,Athens,1148.38€,2016-01-03 07:35:36
25,49348-574,Flipstorm,Greece,Athens,367.48€,2016-01-03 08:58:12
26,76454-100,Teklist,Netherlands,Arnhem,166.29€,2016-01-03 09:35:27
27,76117-001,Thoughtmix,Portugal,Amadora\t,1146.85€,2016-01-03 10:48:11
28,54868-5165,Teklist,Netherlands,Arnhem,980.37€,2016-01-03 10:48:12
29,67544-356,Flipstorm,France,Nanterre,680.67€,2016-01-03 11:41:15
...,...,...,...,...,...,...
20538,61398-0828,Lajo,Greece,Thessaloniki,216.33€,2018-12-30 08:27:46
20539,55700-014,Chatterbridge,Spain,Barcelona,613.06€,2018-12-30 08:39:52
20540,49349-842,Twitterbeat,France,Annecy,416.44€,2018-12-30 11:01:03
20541,52343-025,Thoughtmix,Portugal,Amadora\t,680.17€,2018-12-30 11:23:20
20542,43419-018,Twitterbeat,France,Annecy,227.42€,2018-12-30 11:57:33
20543,49349-842,Thoughtmix,Portugal,Amadora\t,497.4€,2018-12-30 12:13:19
20544,17156-617,Thoughtmix,Portugal,Amadora\t,1119.1€,2018-12-30 12:15:14
20545,62011-0219,Chatterbridge,Spain,Barcelona,847.89€,2018-12-30 17:22:21
20546,16729-167,Thoughtmix,Portugal,Amadora\t,824.27€,2018-12-30 17:45:54
20547,17156-617,Chatterbridge,Spain,Barcelona,856.55€,2018-12-30 17:46:42
20548,58596-001,Thoughtmix,Portugal,Amadora\t,449.53€,2018-12-30 18:23:16
20549,0615-7679,Wordify,United States,New York,$438.62,2018-12-30 22:11:40
20550,70253-307,Chatterbridge,Spain,Barcelona,920.33€,2018-12-30 22:44:54
20551,51138-049,Zooxo,United Kingdom,London,£738.7,2018-12-30 23:22:57
20552,49349-842,Zoonder,United States,Boston,$476.66,2018-12-31 02:24:27
20553,0699-7041,Twitterbeat,France,Annecy,665.3€,2018-12-31 02:35:27
20554,68180-121,Rhycero,France,Arcueil,936.06€,2018-12-31 03:13:36
20555,51060-032,Buzzbean,Germany,Düsseldorf,378.98€,2018-12-31 05:13:28
20556,0268-6107,Thoughtmix,Portugal,Amadora\t,477.59€,2018-12-31 13:32:57
20557,68180-121,Twitterbeat,France,Annecy,637.5€,2018-12-31 13:53:59
20558,13537-259,Thoughtmix,Portugal,Amadora\t,762.29€,2018-12-31 14:17:24
20559,36800-952,Gabcube,Portugal,Almada,286.23€,2018-12-31 16:27:34
20560,36987-1697,Chatterbridge,Spain,Barcelona,1017.44€,2018-12-31 16:46:06
20561,98132-889,Yozio,Greece,Patras,179.88€,2018-12-31 18:24:51
20562,68462-565,Shufflebeat,Portugal,Porto,882.52€,2018-12-31 19:56:53
20563,21695-267,Roodel,Portugal,Aranhas,606.37€,2018-12-31 20:48:14
20564,49999-737,Thoughtmix,Portugal,Amadora\t,828.37€,2018-12-31 21:24:17
20565,52343-025,Brainsphere,Portugal,Braga,686.1€,2018-12-31 21:38:02
20566,49288-0285,Flipstorm,Greece,Athens,1051.08€,2019-02-21 20:05:00
20567,43419-018,Flipstorm,Greece,Athens,139.56€,2019-05-14 22:48:39

In [16]:
# 这个是原来的代码，我们来一步一步分解它
city_country_mapping = df.groupby(['city'])['country'].apply(lambda grp: list(grp.value_counts().index)[0]).to_dict()

In [17]:
# 从最基本的开始，这一行代码会count the number of occurrences of every city-country pair
# For every city, we only want to keep the country that has the highest number of occurrences.
# For example, for city Amadora, it has two corresponding countries: Portual which has occurred 2509 times; Portuga which
# has only occurred 3 times. We only want to keep the first country, i.e. Portual.
df.groupby(['city'])['country'].apply(lambda grp: grp.value_counts())

city
Almada        Portugal           324
Amadora\t     Portugal          2509
              Portuga              3
Amiens        France             452
Amsterdam     Netherlands         40
Annecy        France            2038
Aranhas       Portugal           554
Arcueil       France             180
Arnhem        Netherlands        387
Asaka         Japan               47
Athens        Greece             713
Barcelona     Spain             1425
Boston        United States      398
              US                   1
Braga         Portugal          1114
              Portuga              1
Champagnole   France              35
Düsseldorf    Germany           1125
              Tyskland             1
Heraklion     Greece             130
Lisbon        Portugal          1495
              Portuga              1
London        United Kingdom    1511
Lyon          France              24
Monção        Portugal             1
Nanterre      France             332
New York      United States      858
Nice          France             182
Niihama       Japan              112
Paris         France             220
Patras        Greece             585
Porto         Portugal          1382
Thessaloniki  Greece             202
Vila Fria     Portugal             1
Zürich        Switzerland         11
Name: country, dtype: int64

In [18]:
# 在上一行的基础上加入index，可以发现country这一列的每一行，都变成了一个list。
# 有的list不止有一个国家。我们只想要每个list里的第一个国家，因为第一个国家是出现频率最高的国家。
df.groupby(['city'])['country'].apply(lambda grp: grp.value_counts().index)

city
Almada                     Index(['Portugal'], dtype='object')
Amadora\t       Index(['Portugal', 'Portuga'], dtype='object')
Amiens                       Index(['France'], dtype='object')
Amsterdam               Index(['Netherlands'], dtype='object')
Annecy                       Index(['France'], dtype='object')
Aranhas                    Index(['Portugal'], dtype='object')
Arcueil                      Index(['France'], dtype='object')
Arnhem                  Index(['Netherlands'], dtype='object')
Asaka                         Index(['Japan'], dtype='object')
Athens                       Index(['Greece'], dtype='object')
Barcelona                     Index(['Spain'], dtype='object')
Boston          Index(['United States', 'US'], dtype='object')
Braga           Index(['Portugal', 'Portuga'], dtype='object')
Champagnole                  Index(['France'], dtype='object')
Düsseldorf      Index(['Germany', 'Tyskland'], dtype='object')
Heraklion                    Index(['Greece'], dtype='object')
Lisbon          Index(['Portugal', 'Portuga'], dtype='object')
London               Index(['United Kingdom'], dtype='object')
Lyon                         Index(['France'], dtype='object')
Monção                     Index(['Portugal'], dtype='object')
Nanterre                     Index(['France'], dtype='object')
New York              Index(['United States'], dtype='object')
Nice                         Index(['France'], dtype='object')
Niihama                       Index(['Japan'], dtype='object')
Paris                        Index(['France'], dtype='object')
Patras                       Index(['Greece'], dtype='object')
Porto                      Index(['Portugal'], dtype='object')
Thessaloniki                 Index(['Greece'], dtype='object')
Vila Fria                  Index(['Portugal'], dtype='object')
Zürich                  Index(['Switzerland'], dtype='object')
Name: country, dtype: object

In [9]:
# 因此，在上一行的基础上加入[0]，取出每个list里出现频率最高的那个国家，当做是这个城市的国家名
df.groupby(['city'])['country'].apply(lambda grp: grp.value_counts().index[0])

city
Almada                Portugal
Amadora\t             Portugal
Amiens                  France
Amsterdam          Netherlands
Annecy                  France
Aranhas               Portugal
Arcueil                 France
Arnhem             Netherlands
Asaka                    Japan
Athens                  Greece
Barcelona                Spain
Boston           United States
Braga                 Portugal
Champagnole             France
Düsseldorf             Germany
Heraklion               Greece
Lisbon                Portugal
London          United Kingdom
Lyon                    France
Monção                Portugal
Nanterre                France
New York         United States
Nice                    France
Niihama                  Japan
Paris                   France
Patras                  Greece
Porto                 Portugal
Thessaloniki            Greece
Vila Fria             Portugal
Zürich             Switzerland
Name: country, dtype: object

In [20]:
# 最后，把处理好的数据存进dictionary里
df.groupby(['city'])['country'].apply(lambda grp: grp.value_counts().index[0]).to_dict()

{'Almada': 'Portugal',
 'Amadora\t': 'Portugal',
 'Amiens': 'France',
 'Amsterdam': 'Netherlands',
 'Annecy': 'France',
 'Aranhas': 'Portugal',
 'Arcueil': 'France',
 'Arnhem': 'Netherlands',
 'Asaka': 'Japan',
 'Athens': 'Greece',
 'Barcelona': 'Spain',
 'Boston': 'United States',
 'Braga': 'Portugal',
 'Champagnole': 'France',
 'Düsseldorf': 'Germany',
 'Heraklion': 'Greece',
 'Lisbon': 'Portugal',
 'London': 'United Kingdom',
 'Lyon': 'France',
 'Monção': 'Portugal',
 'Nanterre': 'France',
 'New York': 'United States',
 'Nice': 'France',
 'Niihama': 'Japan',
 'Paris': 'France',
 'Patras': 'Greece',
 'Porto': 'Portugal',
 'Thessaloniki': 'Greece',
 'Vila Fria': 'Portugal',
 'Zürich': 'Switzerland'}